#topnav{
    border: 2px solid;
    background-color: green;
    color: white;
    padding-top: 0.1px;
    padding-right: 0.1px;
    padding-bottom: 0.1px;
    padding-left: 0.1px;
    display: flex;
    justify-content: space-between;
}
#nav{
    display: flex;
    justify-content: space-around;
}
#words{
    background-image: url("Images/first.jpeg");
    background-size: cover;
    width: 400px;
    height: 400px;
}
#Words{
    display: flex;
    justify-content: space-around;

}
#Box{
    display: flex;
    justify-content: center
}
#box{
    text-align: center;
    
}
#Container{
    display: flex;
    justify-content: space-around;
}
#Containers{
    display: flex;
    justify-content: space-around;
}
#Image{
    display: flex;
    float: top-right;
}
#girl{
    display: flex;
justify-content: space-between;
}
#buttons{
    background-color: green;
    color: white;
}
#end{
    display: flex;
    justify-content:space-around
}
#boy{
    display: flex;
    justify-content: space-around;
}
#Ten{
    text-align: center;
    background-image: url(Images/thirtytwo.jpeg);
    background-size: cover;
}
#fifty{
    display: flex;
    justify-content: space-around;
}
#Fifty{
    display: flex;
    justify-content: space-around;
}
#sixty{
    display: flex;
    justify-content: space-around;
}
#seventy{
    display: flex;
    
}
#Containerss{
    display: flex;
    
}
#Image{
    height: 400px;
    width: 250px;
}
#item{
    display: flex;
    justify-content: space-between;
    
}
#Item{
    display: flex;
    float: right;
    height: 350px;
    width: 400px;
    
}
#image{
    display: flex;
    justify-content: space-around;
    
}
#love{
    text-align: center;
}
#Good{
    text-align: center;
}
#cactus{
    display: flex;
    justify-content: space-around;
}




@media
    (min-width: 250px){

    }
    #topnav{
        padding: 8px;
    }


